<h1>Admin::Terminologies::ByCategoryTerminologies#show</h1>
<p>Find me in app/views/admin/terminologies/by_category_terminologies/show.html.erb</p>


<!--
  ## Terminologies#indexの部分

<div class="bs-callout bs-callout-danger">
  <%#= link_to big_tag.name, web_root_path(big_tag), class: 'btn btn-danger btn-lg btn-block' %>
</div>

<div class="bs-callout bs-callout-primary">
  <%=# link_to '要点整理', web_root_path, class: 'btn btn-primary btn-lg btn-block' %>
</div>

<div class="bs-callout bs-callout-success">
  <%=# link_to '◯✕正誤問題集', web_root_path, class: 'btn btn-success btn-lg btn-block' %>
</div>

<div class="bs-callout bs-callout-warning">
  <%=# link_to '過去問題集', web_root_path, class: 'btn btn-warning btn-lg btn-block' %>
</div>
-->