<h1>権利関係（要点整理）</h1>
<h3>Web::OrganizePoints::CivilCodes#index</h3>
<p>Find me in app/views/web/organize_points/civil_codes/index.html.erb</p>

<hr>

<h3>【権利関係一覧】</h3>
<% @middle_tags.each do |middle_tag| %>
  <p>
    <%#= middle_tag.name %>
    <%= organize_points_routing(middle_tag) %>
    キーワード：<%= tags_label_color middle_tag.small_tags %>
  </p>
<% end %>
<%# binding.pry %>
<hr>

<p><%= link_to '制限行為能力者', web_organize_points_civil_codes_restricted_acting_capacity_persons_path, class: 'btn btn-default btn-lg btn-block' %></p>
<p>代理</p>
<p>意思表示</p>
<p>時効</p>
<p>抵当権</p>
<p>連帯責任</p>
<p>保証</p>
<p>債権譲渡</p>
<p>債務不履行</p>
<p>契約解除</p>
<p>担保責任</p>
<p>相殺</p>
<p>委任</p>
<p>敷金</p>
<p>借地借家法（借地）</p>
<p>借地借家法（借家）</p>
<p>相続</p>
<p>共有</p>
<p>区分所有法</p>
<p>物権変動</p>
<p>不動産登記法</p>
<p>不法行為</p>
<p>相隣関係</p>
<p>担保物権</p>


