<!-- 管理側 / ◯✕正誤問題分野一覧 -->
<h1>◯✕正誤問題分野一覧</h1>
<h3>Admin::Questions#index</h3>
<p>Find me in app/views/admin/questions/index.html.erb</p>

<hr>

<!-- 分野別にリンク生成（application_helper） -->
<%= by_category_link_list @big_tags %>
