<!-- 中央コンテンツ -->
<h1>要点整理（Organize Point）</h1>
<h1>Web::OrganizePoints#index</h1>
<p>Find me in app/views/web/organize_points/index.html.erb</p>

<hr>

<%= web_by_category_link_list @big_tags %>

<!--

<div class="bs-callout bs-callout-danger">
  <%#= link_to '権利関係', web_organize_points_civil_codes_path, class: 'btn btn-danger btn-lg btn-block' %>
</div>

<div class="bs-callout bs-callout-primary">
  <%#= link_to '法令上の制限', web_root_path, class: 'btn btn-primary btn-lg btn-block' %>
</div>

<div class="bs-callout bs-callout-success">
  <%#= link_to '宅建業法', web_root_path, class: 'btn btn-success btn-lg btn-block' %>
</div>

<div class="bs-callout bs-callout-warning">
  <%#= link_to '税その他', web_root_path, class: 'btn btn-warning btn-lg btn-block' %>
</div>

-->

<hr>

<h4>アプリが出来たら、アプリの紹介をする。</h4>

<!-- 左サイドバーコンテンツ -->
<% content_for :left_sidebar do %>
<div>
  <h2>サイドバー<h2>
</div>
<div>
  <p>カレンダー差し込み</p>
  <p>ニュース</p>
  <p>申し込み期限が迫っている資格</p>
</div>
<% end %>


<!-- 右サイドバーコンテンツ -->
<% content_for :right_sidebar do %>
<div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

<% end %>