<h1>制限行為能力者について</h1>
<h3>Web::OrganizePoints::CivilCodes::RestrictedActingCapacityPersons#index</h3>
<p>Find me in app/views/web/organize_points/civil_codes/restricted_acting_capacity_persons/index.html.erb</p>

<p><%#= link_to '用語', word_web_organize_points_civil_codes_restricted_acting_capacity_persons_path, class: 'btn btn-default btn-lg btn-block' %></p>

<p>
【種類】<br>
①成年被後見人<br>
②被保佐人<br>
③被補助人<br>

【未成年】<br>
・
・
・
・

</p>

