<h1>制限行為能力者について（Wordメソッドのページ）</h1>
<h3>Web::OrganizePoints::CivilCodes::RestrictedActingCapacityPersons#word</h3>
<p>Find me in app/views/web/organize_points/civil_codes/restricted_acting_capacity_persons/word.html.erb</p>


<p>あいうえお</p>

<!-- 左サイドバーコンテンツ -->
<% content_for :left_sidebar do %>
<div>
  <h2>サイドバー<h2>
</div>
<div>
  <p>カレンダー差し込み</p>
  <p>ニュース</p>
  <p>申し込み期限が迫っている資格</p>
</div>
<% end %>


<!-- 右サイドバーコンテンツ -->
<% content_for :right_sidebar do %>
<div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

<% end %>